<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Juniper Intern Coding Challenge</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="juniper-app">
    <!-- navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    Juniper Intern Coding Challenge
                </a>
            </div>
        </div>
    </nav>
    <!-- /navbar -->

    <!-- main container -->
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3">
              <ng-view>  
            </div>
        </div>
    </div>
    <!-- /main container -->

    <!-- scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.4.0/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.4.0/ui-bootstrap-tpls.min.js"></script>
    <script src="main.js"></script>
    <!-- /scripts -->

    <!-- angular templates -->
    <!-- main template -->
    <script type="text/ng-template" id="main-view.html">
        <div class="panel panel-default">
            <div class="panel-heading"><h5>Juniper Query Builder<h4></div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <label for="table">Table</label>
                        <input type="text" name="table" class="form-control" ng-model="data.table" readonly>
                    </div>

                    <div class="form-group">
                        <label>Start Time</label>
                        <div class="row" ng-class="{'has-error': (!isStarDateValid || !isStarDateValid)}">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="input-group">
                                    <input type="text" class="form-control"
                                        uib-datepicker-popup="{{format}}" datepicker-options="datepickerOptions"
                                        is-open="isDatepickerOpen[0]"  ng-model="data.start_time.date">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="isDatepickerOpen[0] = !isDatepickerOpen[0]"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 timepicker-container" uib-timepicker ng-model="data.start_time.time">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>End Time</label>
                        <div class="row" ng-class="{'has-error': (!isStarDateValid || !isStarDateValid)}">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="input-group">
                                    <input type="text" class="form-control" 
                                        uib-datepicker-popup="{{format}}" datepicker-options="datepickerOptions" 
                                        is-open="isDatepickerOpen[1]" ng-model="data.end_time.date" close-text="Close">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="isDatepickerOpen[1] = !isDatepickerOpen[1]"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 timepicker-container" uib-timepicker ng-model="data.end_time.time">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="selectFields">Select Fields<br><small>Hold "Shift" to make multiple selections.</small></label>
                        <select multiple name="selectFields" ng-model="data.select_fields" class="form-control">
                            <option>time</option>
                            <option>source_vn</option>
                            <option>destination_vn</option>
                            <option>source_port</option>
                            <option>destination_port</option>
                            <option>traffic</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Where Condition</label>
                        <br>
                        <input type="text" class="form-control font-monospace" ng-model="queryString" placeholder="Generated Query String" readonly>
                        <br>
                        <button class="btn btn-sm btn-success" ng-click="addNewOrQueryGroup()"><span class="glyphicon glyphicon-plus"></span> Add OR query group</button>
                        <br><br>
                        <div ng-repeat="orQueryGroup in data.where" class="well query-group-container">
                            <button class="btn btn-sm btn-success" ng-click="addNewAndQuery($index)"><span class="glyphicon glyphicon-plus"></span> Add AND query</button>
                            <button class="btn btn-sm btn-danger" ng-click="deleteOrQueryGroup($index)"><span class="glyphicon glyphicon-trash"></span> Delete OR query group</button>
                            <br>
                            <br>
                            <div ng-show="data.where[$index].length > 0">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Field</div>
                                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">Operator</div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Value</div>
                                </div>
                                <div class="form-group" ng-repeat="andQueryGroup in data.where[$index]">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <select ng-model="data.where[$parent.$index][$index].name" class="form-control">
                                                <option>time</option>
                                                <option>source_vn</option>
                                                <option>destination_vn</option>
                                                <option>source_port</option>
                                                <option>destination_port</option>
                                                <option>traffic</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <select ng-model="data.where[$parent.$index][$index].operator" class="form-control">
                                                <option>=</option>
                                                <option>!=</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <input type="text" ng-model="data.where[$parent.$index][$index].value" class="form-control">
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <button class="btn btn-danger" ng-click="deleteOrQuery($parent.$index, $index)">
                                                <span class="glyphicon glyphicon-trash"></span> Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="button" class="form-control" ng-click="submitForm()" value="Submit">
                    </div>

                </form>
            </div>
        </div>

        <div class="panel panel-default" ng-show="showResult">
            <div class="panel-heading"><h5>Results</h5></div>
            <div class="panel-body">
                <pre>{{ jsonResult }}</pre>
            </div>
        </div>

        <div class="modal fade" ng-class="{'modal-open in': dialogOptions.show, 'modal-close': !dialogOptions.show}" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="dialogOptions.show = false;" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ dialogOptions.title }}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{{ dialogOptions.message }}</p>
                    </div>
                    <div class="modal-footer" ng-repeat="dialogButton in dialogOptions.buttons">
                        <button type="button" class="btn {{ dialogButton.type }}" ng-click="dialogButton.action()">{{ dialogButton.text }}</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </script>
    <!-- /main template -->

    <!-- json view template -->
    <script type="text/ng-template" id="json-view.html">
        
    </script>
    <!-- /json view template -->

</html>